@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/vars.scss";

.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  height: 79px;
  width: 100%;

  background-color: white;
  border-bottom: 1px solid black;

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    top: 18px;
  }
  .header__logo {
    margin-top: 23px;
    margin-left: 54px;
    margin-bottom: 31px;
  }
}
.header__btn {
  margin-left: 915px;
}
