//Персиковый с сильными оттенками арбузного и лососёвого
$peach: #ff685b;
$white: #ffffff;
//Киноварь с сильными оттенками эозина и амаранта
// цвет картинок в карточках
$amaranth: #e74040;
// Антрацитовый с сильными оттенками угольного и пороха
$anthracite: #252b42;
$gray: #737373;
$mercury: #e5e5e5;
$black: #000000;
